.App {
  text-align: center;
}
.nav_ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.text{
  border:solid;
 text-align: center;
  word-wrap: .2em;
  width:30vw;
}
ul li{
  display: inline;
  padding: 10px;
}
