.App {
  text-align: center;
}
.body{
  background: #fff;
  font-family: "Georgia Pro W01","Georgia",serif;
  font-weight: 200;
  font-size: 100%;
  line-height: 1.375;
  color: #000;
}
.nav_ul{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  
}
.text{
 
 text-align: center;
  word-wrap: .2em;
  margin: auto;
  width: 50%;
 
  padding: 10px;
}
ul li{
  display: inline;
  padding: 10px;
}
a{
  list-style: none;
  color: black;
}
.interview_div{
  display: flex;
  padding: 10px;
 
}
.child1{
  flex:1;
  padding-bottom: 20px;
}
.wrapper_box{
  display: grid;
  grid-template-columns: 400px 400px;
 
}
.image_001{
  width:50vw;
  height:80vh;
}
.grid_image{
  width: 15vw;
  height: 17vh;
  padding-top: 5px;
  padding-bottom: 18px;
 cursor:pointer;
}
.links_box{
  text-align: center;
  margin-left: 10px;
}
.left_side{
  display: flex;
}
.article_button{
  
  padding:8px;
  font-size: 18px;
  background-color: black;
  color: aliceblue;
  cursor:pointer;
}
.article_2{
  font-style: italic;
  font-size: 24px;
  font-weight: bold;
}
